<!DOCTYPE html>
<html>
  <head>
    <title>Golden Stocks</title>
    <link rel="shortcut icon" href="../images/logo.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../styles/layout.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body id="top">
    <div class="bgded overlay"> 
      <section id="breadcrumb" class="hoc clear"> 
        <h6 class="heading">About</h6>
      </section>
    </div>

    <div class="wrapper row3">      
      <main class="hoc container clear"> 
        <div class="content">
          <p>
            The application <b>Golden Stocks</b> has been developed by Emanuele Basso as
            course project for the exam
            <i>Integrazione Dati su Web</i> of <i>University of Salerno</i>.
            <br/><br/>
            The aim of the application is to show typical methods and techniques of
            data integration.
          </p>
        </div>
        <div class="clear"></div>
      </main>
    </div>

    <div class="wrapper row5">
        <footer id="footer" class="hoc clear"> 
            <nav>
              <ul class="nospace inline pushright uppercase">
                <li><a href="/GoldenStocks"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="">About</a></li>
                <li><a href="/GoldenStocks/terms">Terms</a></li>
              </ul>
            </nav>
          </footer>
          <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>

    <!-- JAVASCRIPTS -->
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/jquery.backtotop.js"></script>
    <script src="../scripts/jquery.mobilemenu.js"></script>
  </body>
</html>