<!DOCTYPE html>
<html>
  <head>
    <title>Golden Stocks</title>
    <link rel="shortcut icon" href="../images/logo.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../styles/layout.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body id="top">
    <div class="bgded overlay"> 
      <section id="breadcrumb" class="hoc clear"> 
        <h6 class="heading">Terms</h6>
      </section>
    </div>

    <div class="wrapper row3">      
      <main class="hoc container clear"> 
        <div class="content">
          <p>
            The application <b>Golden Stocks</b> is non-profit and open source.
            <br/><br/>
            The site is ispired by <i>Brickary</i> template designed by
            <b><a href="http://www.os-templates.com" target="_blank">OS Templates</a></b>.
            <br/><br/>
            The news show in this application are powered by
            <b><a href="https://newsapi.org" target="_blank">News API</a></b>.
          </p> 
        </div>
        <div class="clear"></div>
      </main>
    </div>

    <div class="wrapper row5">
        <footer id="footer" class="hoc clear"> 
            <nav>
              <ul class="nospace inline pushright uppercase">
                <li><a href="/GoldenStocks"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="/GoldenStocks/about">About</a></li>
                <li><a href="">Terms</a></li>
              </ul>
            </nav>
          </footer>
          <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>

    <!-- JAVASCRIPTS -->
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/jquery.backtotop.js"></script>
    <script src="../scripts/jquery.mobilemenu.js"></script>
  </body>
</html>